body{
    margin:0;
    padding:0;
    height:100%;
}

.container{
    display: flex;
    height: 100vh;
}

.background-image{
    background-image: url(greenleaf.jpg);
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-container{
    flex: 2;
}

.introduction{
    height:30%;
    margin:0;
    background: rgb(228, 226, 226);
}