*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    height:100vh;
}

.container{
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.image-container{
    flex: 1;
    justify-content: center;
    align-items: center;
}

.image-container img{
    max-width:100%;
    height: auto;
}

.form-container{
    flex: 2;
    display:flex;
    flex-direction: column;
}

.form-introduction,
.form-section,
.form-submit{
    flex: 1;
}
.form-introduction{
    flex: 1;
    background: rgb(228, 226, 226);
    padding: 25px 5px 15px  5px;
}

em{
    font-style:italic;
}

.form-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-section h3{
    flex-shrink: 0;
    color: rgb(84, 82, 82);
    margin-bottom: 15px;
}

.form-column{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.left-column,
.right-column{
    flex: 1;
}

form{
    width: 100%;
}

ul{
    list-style-type: none;
    padding: 0 5px;
}

li{
    margin-bottom: 15px;
}

label{
    font-weight: bold;
    font-size: small;
}

input{
    width: 60%;
    border: 2px solid #E5E7EB;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}

input:invalid{
    border-color: red;
}

input:focus{
    border-color:blue;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);;
}

.form-submit{
    flex: 1;
    padding: 15px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    text-align: center;
    margin-top: 10px;
}

p a {
    color: #4CAF50;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}